<mat-card *ngIf="product">
  <mat-card-header>
    <mat-card-title>{{ product.description }}</mat-card-title>
    <button
      *ngIf="!currentUserWithoutRights"
      mat-mini-fab
      color="primary"
      (click)="editProduct()"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <mat-card-subtitle>
      Штрих-код:
      <span>{{ product.barcode }}</span>
    </mat-card-subtitle>

    <mat-card-subtitle>
      Локальный код:
      <span>{{ product.localCode }}</span>
    </mat-card-subtitle>

    <mat-card-subtitle *ngIf="!currentUserWithoutRights">
      На складе:
      <span>{{ product.quantity }} шт.</span>
    </mat-card-subtitle>

    <mat-card-subtitle *ngIf="product?.unitsPerPack"
      >Единиц в упакове:
      <span>{{ product.unitsPerPack }} шт.</span>
    </mat-card-subtitle>

    <mat-card-subtitle>
      Отсканированное кол-во:
      <span>{{ product.scannedQuantity }} шт.</span>
    </mat-card-subtitle>

    <mat-card-subtitle>
      Пользователь:
      <span>{{ product.user.username }}</span>
    </mat-card-subtitle>

    <mat-card-subtitle>
      Время сканирования:
      <span>
        {{ product.timeScanned | date : "dd.MM.yyyy HH:mm" }}
      </span>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
