mat-card {
  mat-card-header {
    align-items: center;
    justify-content: space-between;
    mat-card-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  padding: 0 0 16px;
}

span {
  color: var(--black);
}
