:host {
  display: flex;
  justify-content: center;
  background-color: var(--grey-background);
  height: 100%;
}

.shop-list {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 10px 10px 20px;

  app-shop-card:last-child {
    padding-bottom: 50px;
  }
}

.no-data {
  text-align: center;
  color: var(--grey-text1);
  margin: 20px;
}
