:host {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.grid-button {
  width: 100%;
  height: 100%;
  font-size: 20px;

  &__text {
    display: block;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
