<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<mat-card *ngIf="shop$ | async as shop">
  <mat-card-header>
    <mat-card-title>{{ shop.shopName }} </mat-card-title>

    <mat-card-subtitle>{{ shop.address }}</mat-card-subtitle>

    <mat-card-subtitle
      class="green"
      *ngIf="shop.status === revisionStatus.started"
    >
      Ревизия в процессе
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="130px">
      <mat-grid-tile>
        <app-grid-button
          [buttonIcon]="'list_alt'"
          [buttonText]="shopInfoButtonsText.revision"
          [buttonTextColor]="colorMap.white"
          [buttonColor]="buttonColorMap.primary"
          [isDisable]="
            currentUserWithoutRights &&
            shop.status === revisionStatus.notStarted
          "
          (click)="goToRevision()"
        ></app-grid-button>
      </mat-grid-tile>

      <mat-grid-tile>
        <app-grid-button
          [buttonIcon]="'search'"
          [buttonText]="shopInfoButtonsText.search"
          [buttonTextColor]="colorMap.greyText2"
          (click)="goToStoreSearch()"
        ></app-grid-button>
      </mat-grid-tile>

      <mat-grid-tile
        *ngIf="
          shop.status !== revisionStatus.started && !currentUserWithoutRights
        "
      >
        <app-grid-button
          [buttonIcon]="'insert_drive_file'"
          [buttonText]="shopInfoButtonsText.downloadFile"
          [buttonTextColor]="colorMap.greyText2"
          [inputFor]="'file-upload'"
        ></app-grid-button>
      </mat-grid-tile>

      <mat-grid-tile
        *ngIf="!currentUserWithoutRights"
        [colspan]="shop.status === revisionStatus.started ? 2 : 1"
      >
        <app-grid-button
          [buttonIcon]="'local_shipping'"
          [buttonText]="shopInfoButtonsText.productsOnTheWay"
          [buttonTextColor]="colorMap.greyText2"
          [inputFor]="'file-shipping-upload'"
        ></app-grid-button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

<input id="file-upload" type="file" (change)="handleFileInput($event)" />
<input
  id="file-shipping-upload"
  type="file"
  (change)="handleFileInput($event, true)"
/>
