:host {
  margin: 10px 0 0;
}

mat-card {
  height: 100%;
  background-color: var(--grey-background);
}

mat-form-field {
  width: 100%;
}

.submit {
  display: flex;
  justify-content: center;
}

.quantity {
  mat-form-field {
    font-size: 24px;
    height: 100%;
  }
}
