:host {
  margin: 10px 0 0;
}

mat-card {
  height: 100%;
  background-color: var(--grey-fone);
}

mat-form-field {
  width: 100%;
}

.submit {
  display: flex;
  justify-content: center;
}
