:root {
  --black: #000b0b;
  --white: #ffffff;

  --light-blue-polls1: #bee7e7;
  --light-blue-polls2: #eff5f5;
  --light-blue-polls2-focused: #cceaea;
  --light-blue: #83dbdb;
  --light-blue-focused: #65e4e4;
  --blue: #00a8b4;

  --grey: #e4e7e7;
  --grey-focused: #616d6d;
  --grey-text1: #798686;
  --grey-text2: #303635;
  --grey-background: #fcfcfc;

  --red: #ff5555;

  --red-alert: #d60000;
  --green-alert: #609f62;
}
