ion-footer {
  height: 60px;
  background-color: var(--white);

  .footer-managment {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 0 30px;
  }
}

ion-menu {
  .title {
    display: flex;
    align-items: center;

    span {
      color: var(--grey-text1);
      position: absolute;
      right: 10px;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__navigation {
      ion-card {
        margin: 0 10px;
      }

      ion-card-title {
        display: flex;
        align-items: center;
      }
    }

    ion-list {
      -webkit-margin-start: 0;
      margin-inline-start: 0;

      ion-item {
        ion-label {
          display: flex;
          align-items: center;
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--grey-text2);
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 50px;
      margin-left: 10px;
      gap: 10px;

      button {
        margin-bottom: 0;
      }

      .mt-10 {
        margin-top: 10px;
      }
    }
  }

  mat-icon {
    margin-right: 5px;
  }
}

.developer_link {
  display: flex;
}
