:host {
  margin: 10px 0 0;
}

mat-card {
  height: 100%;

  mat-card-content {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      mat-form-field {
        min-width: 300px;
        width: 100%;
      }

      .buttons {
        display: flex;
        gap: 20px;
      }
    }
  }
}

.scan-method {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 80vh;
  z-index: 2;
}
