<mat-card class="content">
  <mat-card-content>
    <form [formGroup]="manuallForm" *ngIf="isManuallLogic">
      <mat-form-field appearance="fill">
        <mat-label>Штрих-код или локальный код</mat-label>
        <input type="tel" pattern="[0-9]*" formControlName="barcode" matInput />
      </mat-form-field>

      <div class="buttons">
        <button
          *ngIf="isNative"
          mat-raised-button
          color="primary"
          class="manual-key"
          (click)="changeScanMethod()"
        >
          Сканировать
          <mat-icon> speaker_phone </mat-icon>
        </button>

        <button
          mat-raised-button
          class="h50"
          color="accent"
          (click)="submit()"
          [disabled]="manuallForm.invalid"
        >
          Подтвердить
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<div class="scan-method" *ngIf="isNative && !isManuallLogic">
  <button
    mat-raised-button
    color="primary"
    class="manual-key"
    (click)="changeScanMethod()"
  >
    <mat-icon> keyboard </mat-icon>
    Ручной ввод
  </button>
</div>
