.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    gap: 20px;
    button {
      height: 60px;
    }
  }
}
