:host {
  margin: 10px 0 0;
}

mat-card {
  height: 100%;
}

mat-card-header {
  span {
    font-weight: 600;
    color: var(--grey-text2);
  }

  .green {
    color: var(--green-alert);
  }
}

mat-card-content {
  margin-top: 15px;
  padding: 0 5px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="file"] {
  display: none;
}
